# This workflow will

name: ocguix

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ocguix:

    runs-on: ubuntu-latest
#    permissions:
#      contents: read
#      pull-requests: write

    steps:
      - name: Install GNU Guix
        run: |
          sudo apt-get update
          sudo apt-get install -y guix

      - name: ocguix
        run: guix package -f opencog.scm
        
