# This workflow will

name: ocguix

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ocguix:

    runs-on: ubuntu-latest
#    permissions:
#      contents: read
#      pull-requests: write

    steps:

    # guix opencog
    - run: |
        guix package -f opencog.scm
      shell: bash
      name: ocguix
      id: ocguix

      
